.franchise
    &__video
        margin-bottom 35px
    &__video-subtitle-wrap
        display: flex
        justify-content: center
        width: 100%
        margin-bottom 35px
        .djelato__subdesc-item
            margin: 0
    &__video-frame
        display inline-block
        height 679px
        width: 100%
    
    &__info-title-block
        display inline-flex
        flex-direction: column
        justify-content: center
        align-items: center
        min-height 167px
        width: 100%
        background-color: $orange
    &__info-title
        display inline-block
        width: 600px
        font-family $geom
        font-size: 33px
        text-align: center
        text-transform: uppercase
        font-weight: 700
    &__info-subtitle
        font-family $geom
        font-size: 18px
        font-weight bold
        text-align center
        text-transform uppercase
    &__info-desc-block
        display inline-flex
        flex-direction: column
        justify-content: center
        align-items: center
        height 594px
        width: 100%
        background-position: center
        background-repeat no-repeat
        background-size: cover
        margin-bottom 26px
    &__info-desc-title
        width 352px
        text-transform: none
        margin-bottom 35px
    &__info-desc-txt
        display inline-block
        width 390px
        font-family $geom
        font-size: 18px
        font-weight bold
        text-align: center
        line-height: 33px;

    &__info-list-title
        display: flex
        justify-content: center
        margin-bottom 35px
    &__list-title-txt
        font-family $geom
        font-weight bold
        font-size: 18px;
        text-transform uppercase
        padding-left: 15px
    &__list-wrap
        display: flex
        justify-content center
        margin-bottom 135px
        .materials__order-txt
            color black
    &__list-block
        display: flex
        flex-direction: column
        width: 80%
        // align-items: center
        // justify-content: center
        // __order-item

    &__invest
        display: flex
        justify-content: center
        align-items: center
        margin-bottom 120px
    &__invest-block
        display inline-block
        width 592px
        padding-left 37px
        padding-right 11px
        padding-top 15px
        padding-bottom 15px
        border: 3px solid #FABB00;
        border-radius: 11px;
    &__invest-title
        font-family $geom
        font-size: 33px
        font-weight bold
        margin-bottom 10px
    &__invest-info
        display inline-block
        margin-bottom 15px
        &:last-child
            margin-bottom 0
    &__invest-label
        font-family $geom
        font-size: 18px
        font-weight bold

        