.ice-cream-filter
    &__item
        display inline-block
        width: 240px;
        height: 330px;
        background-color: red
        border-radius: 11px;
        margin-left: 60px
        margin-bottom: 40px
        &:nth-child(4n+1)
            margin-left: 0
        &:nth-child(2)
            margin-left 0
    &__control
        float right
        clear: left 
        margin-left: 60px !important 
        background-color: green