.page
    &__inner
        // padding-top: 40px
        padding-bottom: 72px
        @media md
            padding-top: 65px
        @media sm
            padding-top: 65px
        @media xs
            padding-top: 65px
            