.certifications
    &__slider
        display block
        width: 100%
        height auto
        background-color: $orange
    &__slider-block
        display inline-flex
        justify-content: center
        padding-top: 12.5px
        padding-bottom: 12.5px
        height 484px !important
        width: 100%
        background-color: $orange
    &__slider-wrap
        display: inline-block
        height: 100%
        width: 1040px !important
        overflow-x: hidden
        // border 1px solid blue
    &__slide
        display inline-block
        width: 320px !important
        height 100%
        background-color: white
