@import '_fonts'
@import '_config'

img
  max-width 100%

h2
h3
h4
h5
h6
  text-transform uppercase
  color #000
  max-width 100%
  word-break break-word

a
  color #5c5c5c

  &:hover,
  &:focus,
  &:active
    color #5c5c5c

table
  max-width 100%
  border-collapse collapse

  td
    padding 10px 5px 10px 5px
    vertical-align middle
    border 3px solid #ebebf4

    *
      margin-bottom 0px
      padding-bottom 0px
      margin-top 0px
      padding-top 0px

iframe
  max-width 100%

h1
  font-size 3.5em

h2
  font-size 3em

h3
  font-size 24px
  @media xs
    font-size: 18px
  @media sm
    font-size: 18px

h4
  font-size 2em

h5
  font-size 1.8em

h6
  font-size 1.5em

p
  font-size inherit
  color #010101
  margin-bottom 0

html
  overflow-x hidden
